<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hodler</title>
    <link href="fonts/AvenirNextLTPro-Medium.woff" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="fonts/AvenirNextLTPro-Bold.woff" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="img/favicon.png" rel="icon">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="links">
        <a href="https://github.com/boonsuen/hodler" target="_blank">
          <img src="img/github.svg">
        </a>
        <a href="https://twitter.com/boon_suen" target="_blank">
          <img src="img/twitter.svg">
        </a>
      </div>
      <img class="logo" src="img/logo.svg">
      <div class="title">Hodler</div>
    </div>
    <div class="switch">
      <a class="active" href=".">Holding</a>
      <a class="not-active" href="./watching">Watching</a>
    </div>
    <table class="price-table">
      <thead>
        <tr class="row-head">
          <th class="name">Name</th>
          <th class="price">Price</th>
          <th class="change">Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bitcoin (BTC)</td>
          <td>&dollar;{{pu_BTC}}</td>
          <td class="pc">{{ch_BTC}}</td>
        </tr>
        <tr>
          <td>Power Ledger (POWR)</td>
          <td>&dollar;{{pu_POWR}} / {{ps_POWR}}</td>
          <td class="pc">{{ch_POWR}}</td>
        </tr>
        <tr>
          <td>Ardor (ARDR)</td>
          <td>&dollar;{{pu_ARDR}} / {{ps_ARDR}}</td>
          <td class="pc">{{ch_ARDR}}</td>
        </tr>
        <tr>
          <td>WaBi (WABI)</td>
          <td>&dollar;{{pu_WABI}} / {{ps_WABI}}</td>
          <td class="pc">{{ch_WABI}}</td>
        </tr>
        <tr>
          <td>HempCoin (THC)</td>
          <td>&dollar;{{pu_THC}} / {{ps_THC}}</td>
          <td class="pc">{{ch_THC}}</td>
        </tr>
        <tr>
          <td>Nuls (NULS)</td>
          <td>&dollar;{{pu_NULS}} / {{ps_NULS}}</td>
          <td class="pc">{{ch_NULS}}</td>
        </tr>
      </tbody>
    </table>
    <script>
    const pcElem = document.getElementsByClassName("pc");
    for (let elem of pcElem) {
      let price = Number(elem.textContent);
      if (price > 0) {
        elem.style.color = "#4ae264";
      } else if (price < 0) {
        elem.style.color = "#ff8282";
      }
    }
    </script>
  </body>
</html>
